.navbar-h{ min-width:360px;}
.navbar-container-h{ width:360px;}
.nav-head-h{ width: 360px; height: 66px;}
#hlogo-l {
    background-image: url("../images/logo.min.png");
    height: 54px;
    width: 54px;
}
#htitle-l {
    background-image: url("../images/title.min.jpg");
    height: 54px;
    margin-left: 15px;
    width: 258px;
}
.nav-hl{
	position:relative;
	left: -30px;
	top: -7px;
	height: 25px;
	line-height: 25px;}
.hicon-gradution,.icon-briefcase,.icon-credit-card,.icon-comment{
	display:none!important;}
.main-container-h{ min-width:360px;}
.main-container-inner-h{width:360px;}
.sidebar-h{width:360px;   margin-bottom: 16px;}
.sidebar-h-r input{ width:295px;}
.control-label-h{ margin: 13px 0 0 26px;}
.hbot{width:320px;}
#sample-table-1 th,#sample-table-1 td{ padding:8px 2px;}
.add-on{ top:0; left:24px;}
.controls { margin-top: 10px;}
.controls .btn-hl{ margin-left:16px;}
.controls .btn-hr{ margin-right:16px;}
form.hmargin{margin-top: 30px;}
.hfoot{ min-width:360px;}
.hfoot ul{width:360px;}
.hfoot ul li{
	line-height: 20px;
	text-align: center;
	width: 360px;}